header {
    background: #BBBBBB;
    padding: 20px 0;
}

.header-box {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}

.produtos {
  width: 940px;
  margin: 0 auto;
}

.produtos li{
  width: 30%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 50px 0;
  margin: 0 1.5%;
  box-si
}
